.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.features {
  padding: 3rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.testimonials {
  padding: 30px 40px;
  margin: 0 3rem;
  background-color: #f5f5ff;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .hero div {
    max-width: 100%;
  }

  .hero img {
    max-width: 100%;
    margin-top: 20px;
  }

  .features {
    padding: 2rem;
  }
}
