.hero {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.hero div {
  flex: 1;
}

.hero div h1 {
  font-size: 4rem;
  color: #121212;
  margin-bottom: 1rem;
}

.hero div p {
  line-height: 1.5;
  padding: 1rem 0;
  color: #555;
}

.hero img {
  flex: 2;
  width: 100%;
  height: auto;
}

.features {
  padding: 3rem 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.testimonials {
  padding: 30px 40px;
  margin: 0 3rem;
  background-color: #f5f5ff;
  border-radius: 20px;
}

@media (max-width: 1280px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .hero div {
    max-width: 100%;
  }

  .hero img {
    margin-top: 20px;
  }

  .features {
    padding: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .testimonials {
    padding: 30px 16px;
    margin: 0 2rem;
  }

  .hero div h1 {
    font-size: 2.25rem;
  }
}
