* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.animate {
  opacity: 0;
  transition: all 1s ease-out;
}

.animate.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.from-top {
  transform: translateY(-40px);
}

.from-bottom {
  transform: translateY(40px);
}

.from-left {
  transform: translateX(-40px);
}

.from-right {
  transform: translateX(40px);
}
